<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<img src="../../assets/logo2.png" alt="logo">
				<h3 style="font-size: 23px;">Admin Login</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><a href="http://www.facebook.com/" class="fab fa-facebook-square" style="color: #FFC312;"></a></span>
					<span><a href="https://www.google.com/" class="fab fa-google-plus-square" style="color: #FFC312;"></a></span>
					<span><a href="https://twitter.com/" class="fab fa-twitter-square" style="color: #FFC312;"></a></span>
				</div>
			</div>
			<div class="card-body">
				<form id="Login"  (ngSubmit)="onSubmit()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" [(ngModel)]="credentials.username" name="username" class="form-control" required placeholder="Enter Username" autocomplete="off" autofocus>
					</div>
					<!-- <div *ngIf="uName.invalid && uName.dirty" class="alert alert-danger">
						Name is required.
					</div> -->


					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input [type]="show ? 'text' : 'password'" [(ngModel)]="credentials.password" name="password" required class="form-control" placeholder="Enter Password" autocomplete="off">
						<div class="input-group-append">
							<span class="input-group-text">
							<i class="fa"
							[ngClass]="{
							  'fa-eye-slash': !fieldTextType,
							  'fa-eye': fieldTextType
							}" (click)="viewPassword()"></i>
						</span>
						</div>
            		</div>
					<!-- <div *ngIf="pwd.invalid && pwd.dirty" class="alert alert-danger">
						Password is required.
					</div> -->


					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<!-- <div class="form-group" style="margin-top: 9%;"> -->
					<div class="btn-group" style="margin-top: 9%;">
						<button type="submit" class="btn float-right btn-sm login_btn" style="font-size: 14px;width: 100%;border-radius: 2px;">Login</button>
						<button type="reset" class="btn float-right btn-sm login_btn" style="font-size: 14px;margin-left: 10%;width: 100%;background-color: #a09a87;border-radius: 2px;" (click)="restForm()">Reset</button>
					</div>
				</form>

				<div *ngIf="errorMessage!=null">
					<span class="text-danger">{{errorMessage}}</span>
				  </div>
				  <div *ngIf="successMessage!=null">
					<span class="text-success">{{successMessage}}</span>
				  </div>
			</div>
			<!-- <div class="card-footer">
				<div class="d-flex justify-content-center links">
					login for Admin only
				</div>
			</div> -->
		</div>
	</div>
  </div>
