<div class="wrapper">
  <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2000">
      <ol class="carousel-indicators">
        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-slider" data-slide-to="1"></li>
        <li data-target="#carousel-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/image1.jpg" alt="First slide">
          <div class="centered">
              <strong style="font-size: 50px;">Parking | <span style="font-size: 23px;">park your vehicles here</span></strong><br><br>
              <p style="font-size: 17px;">Rent your place for parking and make your city traffic <span style="color: green;">free.</span></p>
          </div>
          <!-- <button class="btnMain" style="position: absolute;top: 90%;left: 7%;transform: translate(-90%, -10%); border: 3px solid rgb(233, 4, 4);background: transparent;font-size: 17px;border-radius: 5px;" >
            Read More</button> -->
           <p-rating [value]="val" style="float: right;color: rgb(228, 11, 11);position: absolute;top: 90%;left: 7%;transform: translate(-90%, -10%);"></p-rating>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/image4.jpg" alt="Second slide">
            <div class="second" style="margin-bottom: 30%;">
              <strong style="font-size: 50px;">Parking-Zone | <span style="font-size: 23px;">park your vehicles here</span></strong><br><br>
              <p style="font-size: 17px;">Rent your place for parking and make your city traffic <span style="color: green;">free.</span></p>
  
          </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/image3.jpg" alt="Third slide">
            <div class="centered">
              <strong style="font-size: 50px;">Parkings | <span style="font-size: 23px;">park your vehicles here</span></strong><br><br>
              <p style="font-size: 17px;">Rent your place for parking and make your city traffic <span style="color: green;">free.</span></p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="cards">
  <div class="card">
    <h2 class="card-title">Know More</h2>
    <img src="../../assets/know.jpg" alt="know More">
    <p class="card-desc">Parking spaces are very important to cities. <b>A city must have enough parking spaces to provide their residents</b> and their visitors a place to park their car. Since cars are a main factor in transportation, a city must meet the needs of the drivers.</p>
  </div>
  <div class="card">
    <h2 class="card-title">About Us</h2>
    <img src="../../assets/about.jpg" alt="About Us">
    <p class="card-desc">A parking lot or car park, also known as a car lot, <b>is a cleared area intended for parking vehicles.</b> The term usually refers to a dedicated area with a durable or semi-durable surface. parking lots are a feature of every city and suburban area.</p>
  </div>
  <div class="card">
    <h2 class="card-title">Contact Us</h2>
    <img src="../../assets/contact.jpg" alt="Contact Us">
    <p class="card-desc"><b>Name :</b> John Doe <br><b>Email :</b> johndoe@gmail.com <br><b>contact :</b> +8064828441 <br><b>Adddress :</b> Church Lane, London -SE37 5IR <br><br><b> &#169;</b> Copyright Parking-Zone - 2022</p>
  </div>
</div>

<div class="cssmarquee">
  <h1><img src="../../assets/logo1.png" alt="image" style="width: 40px;height: 40px;"> Parking Zone | Park your vehicles here...</h1>
</div>
