<div class="container">
    <div class="col-md-7 offset-md-3">
        <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 1%;">
            <strong>Success!</strong> Data has been added successfully.
            <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>    
         <div class="card" style="margin-top: 5%;">
         <div class="card-body">
    <h2>Add Exit Time</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Exit Time</label>
            <input type="text" class="form-control" id="exitTime" [(ngModel)]="vehicle.exitTime" name="exitTime" disabled>
        </div>
        <button class="btn btn-success" type="submit">Add</button>&nbsp;
        <button class="btn btn-secondary" type="button" (click)="cancelFunction()">Cancel</button>
    </form>
    </div>
    </div>
    </div>
    </div>