/* You can add global styles to this file, and also import other style files */

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";

*{
  font-family: "Times New Roman", Times, serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  height: 100%;
  background-color: red;
  background-image: linear-gradient(0deg, rgb(31, 116, 185), rgb(177, 228, 243));
}



