<button class="btn btn-success" (click)="backFunction()" style="float: right;margin-top: 2%;"><< &nbsp;Back</button>
<div class="col d-flex justify-content-center" style="margin-top: 4%;">
<div class="card">
    <div class="card-header">
      <h2><em>View Vehicle Details</em></h2>
    </div>
    <div class="card-body">
      <div><label><b>Vehicle ID: &nbsp;</b></label>{{vehicle.parkingId}}</div>
      <div><label><b>Category: &nbsp;</b></label>{{vehicle.category}}</div>
      <div><label><b>Vehicle Number: &nbsp;</b></label>{{vehicle.vehicleNumber}}</div>
      <div><label><b>UserName: &nbsp;</b></label>{{vehicle.name}}</div>
      <div><label><b>Entry Time: &nbsp;</b></label>{{vehicle.entryTime}}</div>
      <div><label><b>Duration: &nbsp;</b></label>will do later</div>
      <div><label><b>Total Price: &nbsp;</b></label>will do later</div>
    </div>
  </div>
</div>
